/target/
/build/
/_build/
/builddir/
/build-aux/app
/build-aux/.flatpak-builder/
/src/config.rs
*.ui.in~
*.ui~
/.flatpak/
/vendor
/.vscode
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles/

/website/node_modules/
/website/.astro/
/website/dist/

# I already have too much maintaining the Cargo.lock, I think a simple landing page
# doesn't need lock files
/website/package.lock
/website/pnpm-lock.yaml
