@use 'indicator';

.title-header {
  font-size: 36px;
  font-weight: bold;
}

.add-conn-card {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.add-conn-card:hover {
  background-color: oklab(from var(--accent-bg-color) calc(l - 5%) a b);
}

.add-conn-card:active {
  background-color: oklab(from var(--accent-bg-color) calc(l - 10%) a b);
}
